body {
	background-color: darkorchid;
	font-family: 'Zilla Slab', serif;
}

nav {
	background-color: aqua;
}

fieldset {
	border-color: black;
	margin-bottom: 15px;
	margin-top: 15px;
	padding-top: 10px;
}

fieldset p {
	margin: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
}

fieldset li {
	margin: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
}

legend {
	font-size: 15px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"] {
	display: block;
}

header, footer {text-align: center;}

.carousel-caption {
    background: rgba(0, 0, 0, 0.45);
	border-radius: 15px;
}

.carousel-caption p {
	font-size: 15px;
  }

/* .carousel-caption {
    width:100%;
    height:100%;;
}

.carousel-caption h3 {
  text-align:left;
  margin-left:30px;
}

 */